[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"
jupyter = "*"

[packages]
pytz = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
requests = "*"
google-auth = "*"
yfinance = "*"
lxml = "*"
click = "*"
celery = "*"
peewee = "*"
gevent = "*"
pymysql = "*"
redis = "*"

[requires]
python_version = "3.7"
